  <!-- 上級 -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ロバタイマー | 上級</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="stylesheet" href="css/timer.css" />
  <!-- 画像先読み用 -->
  <link rel="icon" type="image/png" href="img/favicon.png">
  <link rel="preload" as="image" href="img/roba_main.png">
  <link rel="preload" as="image" href="img/roba_dokidoki.png">
  <link rel="preload" as="image" href="img/roba_perfect.png">
  <link rel="preload" as="image" href="img/roba_oshii.png">
  <link rel="preload" as="image" href="img/roba_zannen.png">
  <link rel="preload" as="image" href="img/roba_ganbare.png">
  <link rel="preload" as="image" href="img/rpba_game_over.png">
  <link rel="preload" as="image" href="img/rpba_hatena.png">
  <style>

  </style>
</head>
<body>
  <main>
    <h2 class="game-title">上級</h2>
    <!-- 上級のタイマーの仕組みはここから -->
    <p id="timer">0.0</p>
    <p id="message">タイマーを6.8秒で止めてね！</p>

    <!-- 画像表示用 -->
    <div id="messageContainer">
      <img id="defaultImg" src="img/roba_main.png" alt="スタート前" />
      <img id="dokidokiImg" src="img/roba_dokidoki.png" alt="ドキドキ" />
      <img id="hatenaImg" src="img/roba_hatena.png" alt="あれ？" />
      <img id="perfectImg" src="img/roba_perfect.png" alt="ピッタリ" />
      <img id="closeImg" src="img/roba_oshii.png" alt="惜しい" />
      <img id="failImg" src="img/roba_zannen.png" alt="残念" />
      <img id="tryImg" src="img/roba_ganbare.png" alt="がんばれ！" />
      <img id="gameoverImg" src="img/rpba_game_over.png" alt="ゲームオーバー" />
    </div>
    <div class="flex-button">
      <button id="tweetBtn">Xで結果をシェア</button>
      <button id="startStopBtn">スタート</button>
      <button id="mainStopBtn" onclick="location.href='/'">戻る</button>
    </div>
    <script>const mode = "chukyu";</script>
    <script src="js/timer.js"></script>
    <!-- 上級のタイマーの仕組みはここまで -->
  </main>
</body>
</html>