<!--メイン画面-->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <!-- スマホ表示設定 -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- ちょっとこのXの設定わからないので教えて欲しい-->
  <!-- 下記はOGP画像の設定＆ツイッター共有時の表示の設定。TOPページに貼り付けて正式な文章＆URLに変更してください -->
  <!-- ちなみに画像のURLは絶対パスで表記しないとダメなので書き換える際は注意すること！ -->
  <meta property="og:title" content="ロバタイマー" />
  <meta property="og:description" content="タイマーを6.8秒で止めてみて！" />
  <meta property="og:image" content="https://roba-timer.onrender.com/img/ogp.png" />
  <meta property="og:url" content="https://roba-timer.onrender.com/" />
  <meta property="og:type" content="website" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="ロバタイマー">
  <meta name="twitter:description" content="タイマーを6.8秒で止めてみて！">
  <meta name="twitter:image" content="https://roba-timer.onrender.com/img/ogp.png">
  <!-- OGP画像の設定＆ツイッター共有時の表示の設定はここまで -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ロバタイマー</title>
  <link rel="stylesheet" href="css/style.css" />
  <link rel="icon" type="image/png" href="img/favicon.png">
</head>
<body>
  <main>
  <div id="start-screen">
    <h1>ロバタイマー🫏</h1>
    <div class="description">
        <p>やぁ！ロバだよ。</p>
        <p>ボクは68って数字が大好きなんだ〜！</p>
        <p>タイマーゲームを作ってみたから</p>
        <p>6.8秒で止めてみてよ。</p>
        <p>下のボタンからゲーム画面に進めるよ！</p>
        <p>レッツ・ロバタイマー！</p>
      </div>
    <img src="img/roba_main.png" alt="メイン画像" class="main-image" />
    <div class="flex-button">
      <button id="beginnerBtn" onclick="location.href='beginner.html'">初級</button>
      <button id="intermediateBtn" onclick="location.href='intermediate.html'">中級</button>
    </div>
  </div>
  </main>
</body>
</html>