/* HTMLで作った画面の見た目を整える場所 */
/* style.css の先頭に書く！ */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 全体のスタイル.あとフォント変えてみたい */
body {
  font-family: sans-serif;
  background-color: #F7F1CC;
  color: #333;
  text-align: center;
}
/* 画面ごとのパーツにclassやidをつけてCSSを書く */
/* タイトル */
h1 {
  font-size: 3.5rem;
  margin-top: 30px;
  color: #744208;
}

.main-image {
  width: 200px;
  height: auto;
  display: block;
  margin: 20px auto;
}

#timer {
  font-size: 7rem;
  font-weight: bold;
  margin: 20px 0;
}

#message {
  font-size: 1.5rem;
  color: #555;
  margin: 20px 0;
}

#result img {
  width: 100px;
  margin-top: 20px;
}
/* ボタンをデザイン */
/* 初級ボタンのスタイル #はid属性*/
#beginnerBtn {
  background-color: #fac365;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  font-size: 1.0rem;
  cursor: pointer;
}

#beginnerBtn:hover {
  background-color: #fdb230;
}

/* スタート・ストップ・リセットボタンのスタイル .はクラス属性*/
#startStopBtn {
  background-color: #fac365;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-size: 1.0rem;
  cursor: pointer;
}

#startStopBtn {
  background-color: #fdb230;
}
/* ツイート用ボタンのスタイル */
#tweetBtn {
  background-color: #fac365;;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  border: none;
  font-size: 1.0rem;
  cursor: pointer;
}

#tweetBtn {
  background-color: #fdb230;
}
/* スマホ用CSS */
/* スマホサイズ以下の場合だけ適用されるCSS */
/* ▼ スマホ用スタイル（768px以下） */
@media (max-width: 768px) {
  body {
    font-size: 14px;
    padding: 10px;
  }

  h1 {
    font-size: 2rem;
    margin-top: 20px;
  }

  .main-image {
    width: 60%;
    max-width: 160px;
    margin: 10px auto;
  }

  #timer {
    font-size: 4rem;
  }

  #message {
    font-size: 1.2rem;
  }

  #result img {
    width: 80px;
  }

  #beginnerBtn,
  #startStopBtn,
  #tweetBtn {
    font-size: 0.9rem;
    padding: 8px 20px;
  }
}