/* この下の記述は仮の調整用なので、最終的なデザインに合わせて変更や削除してもOK */
#display {
  font-size: 8rem;
  font-weight: bold;
  margin: 20px 0;
}

/* この下の記述はタイマーの挙動用の表記 */
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

.bounce {
  animation: bounce 0.25s ease;
  animation-iteration-count: 2;
  color: red; /* ピタリ賞のフォントの色。最終的なデザインに合わせて再調整 */
}